{% extends "base.html" %} {% block content %} {% load static %}
<div class="container pt-2">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-6">
        <div class="text-center text-lg-start ps-lg-5">
          <h1 class="display-2 fw-bold">Good Food for Better Health</h1>
          <p class="mt-4 fs-5">
            Stay in the know with the ESR Newsletter, or unlock
            exclusive perks by joining the
          </p>
          <div class="mt-4 pb-2 d-flex justify-content-center">
            <a href="/meal/" class="btn btn-outline-success"
              >Go to Meal</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6 text-center ">
        <img
          src="{% static 'hero-content.png' %}"
          {% comment %} src="https://i.ibb.co/QnZmKxS/cover2.webp" {% endcomment %}
          alt=""
          class="img-fluid sm-pt-2"
          style="height: 540px"
        />
      </div>
    </div>
  </div>
{% endblock %}
